{% extends "layout.html" %}

{% block title %}
	Books
{% endblock %}

{% block body %}
	<h1> Choose a book</h1>
	
	<form action="{{ url_for('form') }} method="post">
	
		<div class="form-group">
			<select class="form-control" name="books">
				{% for book in books %}
					<option value="{{ book.isbn }}">{{ book.title }} by {{ book.author }}</option>
				{% endfor %}
			</select>
		</div>
		
		<h3> Please Login Below</h3>
		
		<div class="form-group">
			<input class="form-control" name="Username" placeholder="Username"
		</div>
		
		<div class="form-group">
			<input type="password" id="password" name="password">
		</div>
		
		<div class="form-group">
			<button class="btn btn-primary">More Information</button>
		</div>
	</form>
{% endblock %}